.amenties-title{
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px !important;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #e7eced;
    padding-top: 7px;
    padding-bottom: 3px;
}

.ul.amenities-list {
    margin: 0px;
    padding: 0px;
}
.am-txt{
    font-size: 12px !important;
    color: #383838 !important;
    display: inline-block !important;
    vertical-align: baseline !important;
    /* height: 40px !important; */
    /* line-height: 20px !important; */
    width: 145px;
}

.bg-cover {
    /* background-image: url('assets/images/desert.jpg'); */
    /* background-repeat: no-repeat; */
    /* position:absolute;
    z-index:0; */
}

/* .bg-cover h1,.article h2{
    position:relative;
    z-index:1;
} */
