<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-t-10">
        <div class="card ">
          <div class="card-header">
            <h2 class="card-title">Register Here</h2>
          </div>

          <div class="card-body">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()" novalidate>
  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="userName" placeholder="User name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.status == 'INVALID' ? true : false">Register</button>
                  </div>
                </div>
              </div>

            </form>

          </div>
          <!-- Panel body -->
        </div>
        <!-- Panel -->
      </div>
      <!-- column -->
    </div>
    <!-- row -->
    <!-- <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)=login()>Login</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Forgot Password</button>
        </div>
      </div>
    </div>  -->
  </div>
</section>