<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-3 p-t-10">
        <div class="panel panel-primary ">
          <div class="panel-heading">
            <h2 class="panel-title">User Info</h2>
          </div>

          <div class="panel-body">
            <form class="form" [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>
  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" formControlName="userName" placeholder="User name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary w-100" [disabled]="profileForm.status == 'INVALID' ? true : false">Update</button>
                  </div>
                </div>
              </div>

            </form>

          </div>
          <!-- Panel body -->
        </div>
        <!-- Panel -->
      </div>
      <!-- column -->

      <!-- <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)=login()>Login</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Forgot Password</button>
        </div>
      </div>
    </div> -->
    </div>
    <!-- row -->
  </div>
</section>